<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.department .col-lg-9 {
    position: relative;
}
.card {
    cursor: auto;
}
.accordion-button:not(.collapsed) img {
    transform: rotate(90deg);
}
.header .btn-link {
  text-align: right;
}
.site-header .header-left ul a {
    color: #1C343E;
    font-weight: 700;
	padding: 10px 20px;
}
.site-header .header-left .loginmenu a:first-child {
	padding: 2px 22px 4px 15px !important;
    font-weight: 500;
}
.site-header .header-left .loginmenu .sub-menu li a  {
   padding:	14px 30px !important;
	font-weight: 700;
}
.align-item-stretch {
  align-items: stretch;
}
.dataTables_filter {
    position: absolute;
    right: 20px;
    top: 16px;
}
.dataTables_filter label {
    color: #fff;
}
.social .btn:hover {
    background-color: #000;
    color: #fff;
}
.stats .no {
    display: flex;
}
.site-header .header-left ul .loginmenu ul li:hover a {
    color: #185385 !important;
}
.site-header .header-left ul .loginmenu a:hover{
  color: #fff !important;
}
.dataTables_filter label input {
    border: 1px solid #fff;
    background: transparent;
}
header .navbar-brand img,
.site-branding img{
    width: auto;
    max-width: 140px;
}
.header .search-container {
  position: relative;
}
.header .search-container button[type="submit"],
.header .search-container button[type="submit"] i{
    position: absolute;
    right: 5px;
}
.btn-primary:hover,
.feedback-btn-center:hover {
		transform: scale(1.1) !important;
		transition: ease-in-out 0.3s !important;
		box-shadow: 1px 4px 5px rgb(0 0 0 / 44%);
}
.online-services .card {
	cursor: pointer;
	 min-height: 150px;
    padding: 10px;
    margin: 15px auto;
	max-width: 90%;
    width: 100%;
}
.online-services .card:hover {
    border: 2px solid currentColor;
}
.news .card {
      min-width: auto !important;
}
.news {
	position: relative;
}
.news .card img {
    max-height: 235px;
    object-fit: cover;
    width: 100%;
}
.news .card .heading {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 44px;
    max-width: 180px;
}
.search-documents {
    border: 1px solid #D4D4D4;
    max-width: 328px;
    position: relative;
    margin-bottom: 20px;
    margin-left: auto;
}
.search-documents input {
	    padding: 9px;
	border:0;
}
.search-documents .search-btn{
	position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: 0;
	color: #bdbaba;
	width: 40px;
}
.links .box ul li a:hover svg path {
    fill: #fff !important;
    stroke:  #fff;
}
.upcoming-events .main-wrap{
  position: relative;
}
.upcoming-events .main-wrap::before {
    content: '';
    position: absolute;
    left: 83px;
    top: 0;
    width: 1px;
    background-color: #d2d2d2;
    height: 100%;
    z-index: 0;
}
.upcoming-events .card-wrap .timestamp::after{
  display: none;
}
.quick-contact .card {
	cursor: pointer;
}
.links .box ul {
    margin: 0;
}
.client-slider {
  position: relative;
}
.citizen-speaks .card p {
    line-height: 17px;
    color: #000000cc;
}
.quick-contact .card .icon i {
    font-size: 53px;
}
.quick-contact .card .icon {
    margin-bottom: 15px;
}
.quick-contact .card:hover {
    border: 2px solid currentColor;
}
.about-gallery .card .image img {
    min-height: 254px;
    max-height: 254px;
    width: 100%;
    object-fit: cover;
}
.dropdown-item .searchform input {
  border:0;
}
svg path {
    fill: var(--primary-color);
}
svg path {
    stroke: var(--primary-color);
}
.social-card {
  width: 100%;
}
.links p {
    max-width: 350px;
    text-align: justify;
}
.online-services .card .title {
    margin-top: 10px; 
}
.news .card p {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
}
.topnav input:focus-visible {outline: none;}
.swiper  {
     padding: 0 10px; 
}
.leaders .main {
	width: 100%;
}
.leaders .main img {
    max-height: 419px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.doc-require .cat {
    padding: 5px 10px 5px 40px;
	text-align: left;
}
.doc-require .inner {
    padding: 40px 20px 20px 0px;
}
.doc-require .card {
    margin: 20px 0;
    min-height: 328px;
    height: auto;
}
.search-dropdown .dropdown-item input:focus {
       outline: none;
}
.search-dropdown .dropdown-item {
    padding: 0px;
}
.search-dropdown .dropdown-item input {
    padding: 10px;
}
.tenders {
	position: relative;
}
.surveys .box-card {
   padding: 20px;
}
.surveys .box-card .time-log  {
    margin-bottom: 20px;	
}
.surveys .box-card .heading   {
        margin-bottom: 5px !important;
}
 @media screen and (max-width: 767px) {
 .dataTables_filter {
    right: 20px;
    top: 12px;
} 
.slide .carousel-caption {
		position: relative;
		background-color: #000;
		padding: 10px;
		font-size: 14px;
	}	
  .site-header .menu-container-wrapper {
    display: grid;
  }  
  .box-card {
    flex-wrap: wrap;
  }
  .box-card .image {
    margin-bottom: 20px;
  }
  .upcoming-events .card-wrap .text-right {
    text-align: left !important;
  }
  .upcoming-events .card-wrap .accordion {
    margin-bottom: 10px;	
  }
	.doc-require .card {
		margin: 20px 0;
	}
 .header {
	flex-wrap: nowrap;
   padding: 5px 10px;
   align-items: center;
   min-height: auto;
}
  .header .topnav {
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .header .title {
    line-height: 23px;
    padding-left: 0;
    font-weight: 600;
}
.dataTables_filter {
    top: 66px;right: auto;
    padding: 0 10px;
}
.swiper-button-prev {
    left: 0px;
}
.swiper-button-next {
    right: 0px;
}
  .leaders .main {
    max-width: 286px;
    margin: 25px auto;
  }
  .leaders .main .content {
    padding: 10px 10px 0;
  }
  .leaders .main .name {
    margin-bottom: 0px;
    font-size: 16px;
  }
  .leaders .main .profile { 
      font-size: 13px;
  }
  .leaders .main .content .btn {
    min-width: auto;
    max-width: 122px;
    margin-top: 10px !important;
    margin-bottom: 20px;
    padding: 5px 0px;
    font-size: 13px;
  }
  .upcoming-events .main-wrap::before {
        left: 53px;
  }
  .surveys .time-log {
    text-align: left;
    margin-bottom: 5px;
  }
	.doc-require .card {
		min-height: auto;
		margin-top: 0px;
        margin-bottom: 30px;
	}
	.doc-require .inner {
  	  padding: 20px 20px 20px 0px;
	}
	.leaders .header {
	  margin-bottom: 0;
	}
	 .tenders .search-documents {
		position: absolute;
		top: 40px;
		left: 50%;
		width: calc(100% - 20px);
		transform: translateX(-50%);
    }
	 .tenders .sidebar {
		 margin-top: 70px;
	 }
	 .download-documents .sidebar ul li {
		 position: relative;
	 }
	 .download-documents .sidebar ul li::after,
	 .tenders .sidebar ul li::after {
     	content: "";
    	position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 5px;
		background-repeat: no-repeat;
		width: 15px;
		height: 15px;
		background-image: url(https://wordpress-762758-2582952.cloudwaysapps.com/wp-content/uploads/2022/05/next.png);
		background-size: contain;
	}
}
</style>
<!-- end Simple Custom CSS and JS -->
